body{  
    display: flex;
    background-color: gold;
    height: 100vh;
    width: 100vw;
}
.Mobile,
.Tablet,
.Pc{
    font-size: 100px;
    color: white;
    margin: auto;
    text-align: center;
    display: none;
}

/* Mobile : < 740px */
/* @media only screen and ( max-width:46.1875em ){
    .Mobile{
        display:block;
    }
} */

/* Tablet :      740px < Tablet < 1024px   */
/* @media only screen and ( min-width:46.25em)and ( max-width:63.9375em) {
    .Tablet{
        display:block;
    }
} */

/* Pc : > 1024px */
/* @media only screen and ( min-width:64em ){
     .Pc{
         display: block;
     }
} */




/* media theo PX */
/* Mobile : < 740px */
@media only screen and ( max-width:739px ){
    .Mobile{
        display:block;
    }
}

/* Tablet :      740px < Tablet < 1024px   */
@media only screen and ( min-width:740px)and ( max-width:1023px) {
    .Tablet{
        display:block;
    }
}

/* Pc : > 1024px */
@media only screen and ( min-width:1024px ){
     .Pc{
         display: block;
     }
}