.header{

}

.header__navbar{
    display: flex;
    /* height: 44px; */
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
}

.header__navbar-list{
display: inline-flex;
align-items: center;
padding-right: 40px;
}

.header__navbar-list-item{

}
.header__navbar-list-item-buttom{
    border-radius: 10px;
    border-width: 0px;
    margin-top: 6px;
    outline: none;
    cursor: pointer;
    background-color: rgba(0,0,255,0.4);
}
.header__navbar-icon-search{
    font-size: 2rem;
    color: var(--white-color);
    padding: 4px;
}
.header__navbar-list-item:hover{
color: rgba(0, 0, 0, 0.2);
}

.header__navbar-icon{
font-size: 2.5rem;
color: var(--white-color);
padding: 10px;
}
.header__navbar-icon:hover{
    color: rgba(0, 0, 0, 0.2);
}

.header__navbar-list-item-search{
/* height: 30px; */
width: 450px;
padding: 7px 15px;
outline: none;
border-radius: 4px;
border-width: 0px;
font-size: 1.4rem;
margin-top: 5px;
} 

.header__navbar-list-item-other{
    padding-right: 40px;
}

.header__navbar-list-item-text{
font-size: 1.6rem;
padding-right: 25px;
cursor: pointer;
}
